---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <section id="main-image">		<!--squellette de la page parti 1-->
  	<section class="wrappers">	<!--contenu invicible-->
  		<h2>organiser votre<br><strong>voyage sur mesure</strong></h2>

  	</section>
  		</section>
  {{ content }}

  <h1 class="page-heading">Blog</h1>
  <div id="search-searchbar"></div>



  <div class="post-list" id="search-hits">
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>



<!--

    {% for post in site.posts %}
      <div class="post-item">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
    {% endfor %}
  </div>
</div>


{% include algolia.html %}-->
